pipeline/pipeline2.json
{
	"name": "pipeline2",
	"properties": {
		"activities": [
			{
				"name": "GetCheckpointStatus",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT ActivityName FROM ADFCheckpoint \nWHERE PipelineName = 'pipeline2' AND Status = 'LastFailedActivity';\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "filenametable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IfActivityAExecuted",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetCheckpointStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetCheckpointStatus').output.firstRow.LastFailedActivity, 'ActivityA')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ActivityA",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "00:10:00",
								"retry": 3,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adventuresource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "adventuretarget",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ActivityA",
									"dependencyConditions": [
										"Succeeded",
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_logactivity]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": {
											"value": "CopyData",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": "pipeline2",
										"type": "String"
									},
									"Runtime": {
										"value": "",
										"type": "DateTime"
									},
									"Status": {
										"value": {
											"value": "@activity('ActivityA').status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "testsql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "IfActivityBExecuted",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "IfActivityAExecuted",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('GetCheckpointStatus').output.firstRow.LastFailedActivity, 'ActivityB')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "ActivityB",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "00:10:00",
								"retry": 3,
								"retryIntervalInSeconds": 30
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "adventuresource",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "adventuretarget",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Stored procedure2",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "ActivityB",
									"dependencyConditions": [
										"Failed",
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_logactivity]",
								"storedProcedureParameters": {
									"ActivityName": {
										"value": "ActivityB",
										"type": "String"
									},
									"PipelineName": {
										"value": "pipeline2",
										"type": "String"
									},
									"Runtime": {
										"value": "",
										"type": "DateTime"
									},
									"Status": {
										"value": {
											"value": "@activity('ActivityB').status",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "testsql",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}